*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5px;
    margin: 5px;
}

.content{
    width: 1000px;
    height: 600px;
    margin: 5px;
    background-color: black;
    display: flex;
}

.content>*{
    margin: 5px;
    padding: 1px;
    font-family: "Arial", Helvetica, sans-serif;
    color: white;
}

canvas{
    flex: 60%;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

.text{
    flex: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.text div{
    margin: 2px;
}

h2{
    margin-bottom: 2px;
}

.gold{
    color: gold;
}

.green{
    color: green;
}

.purple{
    color: purple;
}